<div class="hero">
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>index Page</h1>
		<%= link_to 'Learn More', '#', class: 'btn btn-success' %>
		<br />


		<div class="row text-center feature">
			<div class="col-12 col-sm">
				<h3> Feature 1</h3>
			</div>
			<div class="col-12 col-sm">
				<h3> Feature 2</h3>
			</div>
			<div class="col-12 col-sm">
				<h3>Feature 3</h3>
			</div>
		</div>
	</div>
</div>
