@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Ramabhadra&display=swap');

.navbar {
  font-family: 'Ramabhadra', sans-serif;
 font-weight: 200;
 box-shadow: 0px 1px 3px #2a2a2a;
 background: image_url('beanstalk-dark.png');
}

.navbar-inverse a.navbar-brand {
  font-family: 'Ramabhadra', sans-serif;
  font-weight: 100;
  color: white;
}

.hero {
  background: image_url('josh-salacup-1637099-unsplash.jpg')no-repeat center center fixed;
  height: 370px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: 'Ramabhadra', sans-serif;
  font-weight: 100;
}

.frosty h2 {
  font-family: 'Ramabhadra', sans-serif;
  font-weight: 200;
}

.btn {
  border: 2px solid white;
  background: black;
  text-color: white;
  background-hover: grey;
}

.btn:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background: image_url('lightpaperfibers_@2X.png');
  font-family: 'Ramabhadra', sans-serif;
}